@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0047ba;
  --white: #ffffff;
  --black: #242424;
  --gray: #818181;
  --lightest-gray: 255, 255, 255;
  --green: 255, 255, 255;
  --red: 255, 255, 255;
  --light-gray: 255, 255, 255;
  --light-blue: 255, 255, 255;
}
